ci:
  skip: [pyright]

exclude: "tests"

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
      args:
        - --assume-in-merge
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: destroyed-symlinks
    # - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: name-tests-test
      args:
      - --pytest-test-first
    - id: no-commit-to-branch
    - id: pretty-format-json
      args: ['--autofix']
    # - id: sort-simple-yaml
        # files: .pre-commit-config.yaml

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    name: mypy
    language: python
    language_version: python 3.9
    types: [python]
    require_serial: true
    verbose: true
    additional_dependencies: ['types-requests']
    # exclude: "tests"
    # args:
    # - --ignore-missing-imports
    # files: ^(src/|tests/)

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - args:
    - --py39-plus
    id: pyupgrade

# - repo: https://github.com/commitizen-tools/commitizen
#   rev: v2.40.0
#   hooks:
#   - id: commitizen

# # This will only work with pylint installed in the venv
# - repo: local
#   hooks:
#   - id: pylint
#     exclude: "tests"
#     name: pylint
#     entry: ./.venv/Scripts/pylint.exe
#     language: system
#     types: [python]
#     args:
#     - --ignore-patterns=.venv
#     - --good-names=i,j,_,f
#     # - --disable=protected-access
#     # - --disable=no-member
#     # - --disable=import-error
#     # - --disable=no-name-in-module
#     - --disable=redundant-returns-doc # many false positives
#     - --disable=too-many-arguments
#     - --disable=too-many-instance-attributes
#     - --disable=redefined-builtin # sticking with edge.next
#     - --disable=invalid-name # for _TMeshElem and similar type hints
#     - --disable=useless-return # conflicts with mypy
#     - --disable=assignment-from-no-return # prevents overloading Attrib methods to only raise an Exception
#     - --disable=useless-parent-delegation
#     - --disable=R0801 # Similar lines in multiple files
#     - --load-plugins=pylint.extensions.docparams
#     - --accept-no-param-doc=n
#     - --accept-no-raise-doc=n
#     - --accept-no-return-doc=n
#     - --accept-no-yields-doc=n

- repo: https://github.com/charliermarsh/ruff-pre-commit
  # ignores
  # COM812 Trailing comma missing (does not agree with Black)
  # D203 1 blank line required before class docstring (incompatible with D211)
  # D213 multi line summary second line (incompatible with D212):
  # ISC003 Explicitly concatenated string should be implicitly concatenated
  # FLY Use f-string instead of ...
  # S311 Standard pseudo-random generators are not suitable for security/cryptographic purposes
  rev: 'v0.14.10'
  hooks:
    - id: ruff
      exclude: "tests"
      args:
      - --target-version=py39
      - --select=ALL
      - --ignore=COM812,D203,D213,ISC003,FLY,S311
      - --fix
      - --fixable=RUF022
    - id: ruff
      args: ["check", "--select", "I", "--fix"]
    - id: ruff-format
      name: "ruff-format"

# reads pyproject.toml for additional config
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
    - id: pyright
